
#leaderboardTable {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%; 
    max-width: 600px;
}

#leaderboardTable th, #leaderboardTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#leaderboardTable th {
    background-color: #004085; 
    color: white;
}
